form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.card-div {
  border: 1px solid black;
  width: 200px;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 250px;
}